{%extends 'index.html'%}
{%block ejemplo%}
<h2 class="uk-heading-hero">{{object.titulo}}</h2>

<div class="uk-width-1-3 uk-card uk-card-default uk-card-body uk-card-small">
    <div class="uk-animation-toggle">
        <div class="uk-card uk-card-default uk-card-body uk-animation-fast uk-animation-fade">
            <p class="uk-text-center"><a href="{{object.link1}}"  target="_blank"><div class="uk-width-1-3@m uk-flex-first"><img src="{{object.publicidad2.url}}" alt=""></div>
                {% if "Llamar" in object.boton1%}
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button">Llamar</button>
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-active">{{object.numero_llamada1}}</li>
                            </ul>
                        </div>
                    </div>
                {% elif "Visitar" in object.boton1 %}
                <button class="uk-button uk-button-secondary">Visitar</button>
                {% elif "Comprar" in object.boton1 %}
                <button class="uk-button uk-button-primary">Comprar</button>
                {%endif%}
            </a></p>
        </div>
    </div>
</div>


<center><p class="uk-article-meta">Escrito por  <a href="{% url 'escritor:autor' slug=object.autor.slug %}"><strong>{{object.autor}}</strong></a> {{object.fechainicio}} <a href="#">#{{object.categoria}}</a></p>
</center>
<div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="{{object.imagenportada.url}}" alt="Algo">
        </div>
     </div>
    <div>
        <h3>{{object.textograndecuerpo}}</h3>
        <p>
            {{object.cuerpo}}
        </p>
    </div>
</div>

<div class="uk-flex-right">
<div class="uk-width-1-3 uk-card uk-card-default uk-card-body uk-card-small">
    <div class="uk-animation-toggle">
        <div class="uk-card uk-card-default uk-card-body uk-animation-fast uk-animation-fade">
            <a href="{{object.link2}}"  target="_blank"><img src="{{object.publicidad1.url}}" alt="">
            {% if "Llamar" in object.boton2%}
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button">Llamar</button>
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-active">{{object.numero_llamada2}}</li>
                            </ul>
                        </div>
                    </div>
                {% elif "Visitar" in object.boton2 %}
                <button class="uk-button uk-button-secondary">Visitar</button>
                {% elif "Comprar" in object.boton2 %}
                <button class="uk-button uk-button-primary">Comprar</button>
                {%endif%}
            </a>
        </div>
    </div>
</div>
</div>
<div id="offcanvas-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Categorias</a></li>

                {%for obj in categoria%}
                 <li><a href="{%url 'articulo:articulos'%}">{{obj.nombrecategoria}}</a></li>
                {%endfor%}

        </ul>

    </div>
</div>
{%endblock ejemplo%}