{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MXAsturias</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/uikit.min.css'%}" />
        <script src="{% static 'js/uikit.min.js'%}"></script>
        <script src="{% static 'js/uikit-icons.min.js'}"></script>
        <style type="text/css">
            .imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}
        </style>
    </head>
    <body>


<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
   <div class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#offcanvas-slide" uk-toggle></a>Categorias
        </div>
        <div class="uk-navbar-center">
            <a href="{%url 'articulo:articulos'%}"><img src="{% static 'imagenes/logo.png' %}" alt="mxasturias"/></a>
        </div>
    </div>
</div>
{%block ejemplo%}
{%endblock ejemplo%}

</body>
</html>