{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MX</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/uikit.min.css'%}" />
        <script src="{% static 'js/uikit.min.js'%}"></script>
        <script src="{% static 'js/uikit-icons.min.js'}"></script>
        <style type="text/css">
            .imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}
        </style>
    </head>
    <body>
<img src="{% static 'imagenes/logo.png' %}" alt="mxasturias"/>
</body>
</html>